spring:
  application:
    name: spring-outbox-example
  datasource:
    url: jdbc:postgresql://producer-postgresql:5432/outbox_example
    username: admin
    password: root
    driver-class-name: org.postgresql.Driver
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
  jpa:
    open-in-view: false
  kafka:
    bootstrap-servers: kafka:9092
logging:
  level:
    root: info
outbox:
  thread-pool-size: 5
  tables:
    auto-create: true
  publisher:
    sender:
      type: kafka
    defaults:
      batch-size: 100
      initial-delay: 30s
      max-retries: 3
      backoff:
        delay: 1m
        multiplier: 1
    events:
      create-order:
        topic: orders.created
        batch-size: 100
        fixed-delay: 1s
      update-order:
        topic: orders.updated
        batch-size: 50
        fixed-delay: 1s
      delete-order:
        topic: orders.deleted
        batch-size: 50
        fixed-delay: 10s
    clean-up:
      enabled: true
      batch-size: 100
      ttl: 1h
      initial-delay: 2m
      fixed-delay: 2s
    stuck-recovery:
      batch-size: 100
      initial-delay: 2m
      fixed-delay: 5m
    dlq:
      enabled: true
      batch-size: 100
      transfer-to-initial-delay: 2m
      transfer-to-fixed-delay: 1s
      transfer-from-initial-delay: 2m
      transfer-from-fixed-delay: 1h
      metrics:
        gauge:
          enabled: true
          cache:
            ttls: [60s, 60s, 60s]
    metrics:
      gauge:
        enabled: true
        cache:
          ttls: [60s, 60s, 60s]
management:
  endpoints:
    web:
      exposure:
        include: "*"
  metrics:
    enable:
      all: true