version:  "3.8"
name: spring-outbox-test
services:

  postgresql:
    container_name: outbox-test-postgresql
    image: postgres:18-alpine
    networks:
      - default
    environment:
      POSTGRES_PASSWORD: root
      POSTGRES_USER: admin
      POSTGRES_DB: outbox_test
    ports:
      - "1428:5432"

  mysql:
    container_name: outbox-test-mysql
    image: mysql:8.0.1
    networks:
      - default
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: admin
      MYSQL_PASSWORD: root
      MYSQL_DATABASE: outbox_test
    ports:
      - "1429:3306"

  oracle:
    container_name: outbox-test-oracle
    image: gvenzl/oracle-free:23
    networks:
      - default
    environment:
      ORACLE_PASSWORD: root
      APP_USER: admin
      ORACLE_DATABASE: outbox_test
      APP_USER_PASSWORD: root
    ports:
      - "1430:1521"

  kafka:
      container_name: outbox-test-kafka
      image: apache/kafka:4.1.1
      ports:
        - "1431:9092"
        - "1432:9093"
      environment:
        KAFKA_NODE_ID: 1
        KAFKA_PROCESS_ROLES: broker,controller
        KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
        KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
        KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
        KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
        KAFKA_LOG_DIRS: /kafka/data
        KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      volumes:
        - ./kafka-data:/kafka/data

volumes:
  kafka_data: {}