name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgresql:
        image: postgres:18-alpine
        env:
          POSTGRES_USER: admin
          POSTGRES_PASSWORD: root
          POSTGRES_DB: outbox_test
        ports:
          - 1428:5432
        options: >-
          --health-cmd "pg_isready -U admin" 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5

      mysql:
        image: mysql:8.4
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_USER: admin
          MYSQL_PASSWORD: root
          MYSQL_DATABASE: outbox_test
        ports:
          - 1429:3306
        options: >-
          --health-cmd "mysqladmin ping -h localhost -uroot -proot" 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 5

      oracle:
        image: gvenzl/oracle-free:23
        env:
          ORACLE_PASSWORD: root
          APP_USER: admin
          ORACLE_DATABASE: outbox_test
          APP_USER_PASSWORD: root
        ports:
          - 1430:1521
        options: >-
          --health-cmd "echo 'SELECT 1 FROM dual;' | sqlplus -s admin/root@//localhost:1521/outbox_test" 
          --health-interval 10s 
          --health-timeout 5s 
          --health-retries 10

      kafka:
        image: apache/kafka:4.1.1
        ports:
          - 1431:9092
        env:
          KAFKA_NODE_ID: 1
          KAFKA_PROCESS_ROLES: broker,controller
          KAFKA_LISTENERS: PLAINTEXT://:1431,CONTROLLER://:9093
          KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:1431
          KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT
          KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
          KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
          KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
          KAFKA_LOG_DIRS: /kafka/data
          KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven packages
        uses: actions/cache@v3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}

      - name: Build and run tests
        run: mvn clean verify -P release -Dspring.profiles.active=psql,kafka

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: "**/target/site/jacoco/jacoco.xml"
          fail_ci_if_error: true
